/* *{
  box-sizing: border-box;
  border: 1px solid black;
}  */

#titulo-cac {
  margin-left: 22%;
  font-size: 2rem;
  font-weight: bold;
}

/*.icon-bar {
  height: 35px;
  width: 35px;
}*/
 #socmed {
   height: 50px;
   width: 50px;
 }

 .fa {
   height: 45px;
   width: 45px;
 }

 .tamanio-iconos {
   font-size: 2rem;
 }

 .alto-enlaces {
   height: 60px;
 }

 .tamanio-enlaces {
   font-size: 1rem;
   color: black;
   border: none;

 }

 .centrado-enlaces {
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 #parrafo-prueba {
   font-size: 5rem;
 }

 .margen-supeior {
   margin-top: 5rem;
 }

 #parrafo-apps {
   margin-top: 20px;
   margin-bottom: 25px;
 }

 .apps {
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .noticias {
   margin-top: 30px;
 }

 #notias-margen {
   margin-bottom: 20px;
 }

 #ver-todas {
   float: right;
 }

 .margen-abajo-noticias {
   margin-bottom: 15px;
   border-bottom: 1px solid grey;
   padding-bottom: 5px;
   margin-right: 30px;
 }

 .color-titulo {
   color: black;
 }

 #titulo-galeria {
   margin-top: 20px;
 }

 .margen-izquierdo-doc {
   margin-left: 30px;
   padding-bottom: 30px;
   /* border-bottom: 1px solid grey; */
 }

 .margen-inferior-documentos {
   margin-bottom: 30px;
   border-bottom: 1px solid grey;
   padding-bottom: 30px;
 }
